.hero-body
{

  @media screen and (max-width: 520px)
  {
    padding-top: 6rem !important;
    padding-bottom: 8rem !important;
  }

  padding-top: 12rem !important;
  padding-bottom: 15rem !important;

  .title
  {
    letter-spacing: 2px;

  }

  .subtitle
  {
    a
    {
      margin: 6px;
    }
  }
}

footer
{
  padding-top: 1.5rem !important;
  background-color: transparent !important;
  padding-bottom: 1rem !important;
}
