body
{
  font-family: 'Raleway', sans-serif;

  ::-moz-selection { /* Code for Firefox */
    background: #fec748;
    color: #fff;
  }

  ::selection {
    background: #fec748;
    color: #fff;
  }

}

.hero-body
{

  @media screen and (max-width: 520px)
  {
    padding-top: 6rem !important;
    padding-bottom: 8rem !important;
  }

  padding-top: 12rem !important;
  padding-bottom: 15rem !important;

  .title
  {
    letter-spacing: 2px;
    font-family: 'Jura', sans-serif;
  }

  .subtitle
  {
    a
    {
      margin: 6px;
    }

    a:hover
    {
      color: rgba(255,255,255,0.6) !important;
    }


  }
}

.section_home
{
  background: white url('/img/bg.jpg');
  background-size: cover;
}
