<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <figure class="image is-128x128" style="margin: 0 auto !important;">
      <img src="/img/profile_pic.jpg" style="border-radius: 128px; border: 1px solid #342F43;">
    </figure>
    <h1 class="title">
      <strong>Viddesh Gharpure</strong>
    </h1>
    <h5 class="subtitle">
      Web Developer | Video Editor <br>
      @viddeshg <br><br>
      <%= render 'home/socialMedia' %>
    </h5>
  </div>
</div>
