<a href="https://www.fb.com/viddeshg"><i class="fab fa-facebook-f"></i></a>&nbsp;
<a href="https://www.github.com/viddeshg"><i class="fab fa-github"></i></a>&nbsp;
<a href="https://www.instagram.com/viddeshg"><i class="fab fa-instagram"></i></a>&nbsp;
<a href="https://www.youtube.com/channel/UCl_FxQExilLTa86jUEGrPWA"><i class="fab fa-youtube"></i></a>&nbsp;
<a href="https://www.linkedin.com/in/viddeshg"><i class="fab fa-linkedin-in"></i></a>