<div class="columns">
  <div class="column">
    <!-- Urban Nomad-->
    <iframe height="100%" width="100%" src="https://www.youtube.com/embed/vgJnuW58C5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
  </div>
  <div class="column">
    <!--Tishnagi-->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/1J2gZ-Mgh-s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column">
    <!-- Bas Teri Raah -->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-EYYvCronmY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>
</div>


<div class="columns">
  <div class="column">
    <!-- Counsel with the stars-->
    <iframe height="100%" width="100%" src="https://www.youtube.com/embed/aUGKH-HeIRk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
  </div>
  <div class="column">
    <!-- Letter from my city-->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ja8afAEyS4E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column">
    <!-- Yeh Aaine Se -->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_K2HSBwgbh4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>


<div class="columns">
  <div class="column">
    <!-- Wish Box -->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XppnxP0-yEw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column">
    <!-- Rally in Ranchi -->
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hrFo_jddvpo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column">
    <!-- Platinum Jubilee School -->
    <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1b6TrV3pWxTFOswNmqgt7YUxUc813LnAk/preview"  frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<!--<div class="columns">-->
  <!--<div class="column">-->
    <!--&lt;!&ndash; Hotel Vaibhav Gadchiroli &ndash;&gt;-->
    <!--<iframe width="100%" height="100%" src="https://drive.google.com/file/d/0BxiEgRzxyzSvSmJNVmhyeGlMemc/preview"  frameborder="0" allowfullscreen></iframe>-->
  <!--</div>-->
<!--</div>-->
