<!-- Hero content: will be in the middle -->
<div class="hero-body" style="padding-top: 5rem !important; padding-bottom: 4rem !important;">
  <div class="container" style="width:75%">
    <h1 class="title has-text-centered" style="font-family: 'Raleway', sans-serif !important;">
      <strong>Viddesh's Video Gallery</strong>
    </h1>

    <%= render 'work/videos' %>

  </div>
</div>