<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Viddesh | Videos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
<section class="hero is-dark is-large" style="background: white url('/img/bg.jpg'); background-size: cover;">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">

            <a class="navbar-item" href="https://www.fb.com/viddeshg"><i class="fab fa-facebook-f"></i></a>&nbsp;
            <a class="navbar-item" href="https://www.github.com/viddeshg"><i class="fab fa-github"></i></a>&nbsp;
            <a class="navbar-item" href="https://www.instagram.com/viddeshg"><i class="fab fa-instagram"></i></a>&nbsp;
            <a class="navbar-item" href="https://www.youtube.com/channel/UCl_FxQExilLTa86jUEGrPWA"><i class="fab fa-youtube"></i></a>&nbsp;
            <a class="navbar-item" href="https://www.linkedin.com/in/viddeshg"><i class="fab fa-linkedin-in"></i></a>

          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/home" class="navbar-item ">
              Home
            </a>
            <a href="/edits" class="is-active navbar-item">
              Videos
            </a>
            <a href="/websites" class="navbar-item">
              Websites
            </a>
            <a href="/contact" class="navbar-item">
              Contact
            </a>

          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body" style="padding-top: 5rem !important; padding-bottom: 4rem !important;">
    <div class="container" style="width:75%">
      <h1 class="title has-text-centered">
        <strong>Viddesh's Video Gallery</strong>
      </h1>

      <div class="columns">
        <div class="column">
          <!-- Counsel with the stars-->
          <iframe height="100%" width="100%" src="https://www.youtube.com/embed/aUGKH-HeIRk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
        </div>
        <div class="column">
          <!-- Letter from my city-->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ja8afAEyS4E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="column">
          <!-- Bas Teri Raah -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-EYYvCronmY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>
      </div>


      <div class="columns">
        <div class="column">
          <!-- Wish Box -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XppnxP0-yEw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="column">
          <!-- Rally in Ranchi -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hrFo_jddvpo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="column">
          <!-- Yeh Aaine Se -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_K2HSBwgbh4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>


      <div class="columns">
        <div class="column">
          <!-- Platinum Jubilee School -->
          <iframe width="100%" height="100%" src="https://drive.google.com/file/d/1b6TrV3pWxTFOswNmqgt7YUxUc813LnAk/preview"  frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="column">
          <!-- Hotel Vaibhav Gadchiroli -->
          <iframe width="100%" height="100%" src="https://drive.google.com/file/d/0BxiEgRzxyzSvSmJNVmhyeGlMemc/preview"  frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="column">
        </div>

      </div>
    </div>

</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p style="color: #333;">
        © 2018 Designed and Developed by <strong> Viddesh Gharpure </strong> <br>
      </p>
    </div>
  </div>
</footer>

<script>

    $(".navbar-burger").click(function(){
        $(".navbar-menu").toggleClass("is-active");
    });

</script>

</body>
</html>