
<style>
  .title
  {
    background-color: #fec748;
  }

  .hi
  {
    background-color: #333;
    font-size: 1.5rem;
  }

</style>

<div class="hero-body">
  <div class="container">
    <a class="title hi">
      say hi.
    </a>

    <br>


    <a class="title" href="mailto:viddeshg@yahoo.com">
      viddeshg@yahoo.com
    </a>

    <br>

    <!--<a href="https://api.whatsapp.com/send?phone=917304978155"><i class="fab fa-whatsapp fa-2x"></i></a>&nbsp;&nbsp;-->
    <!--<a href="tel:+91 730 497 8155"><i class="fa fa-phone fa-2x"></i></a>-->

  </div>
</div>