<style>
  footer
  {
    padding-top: 1.5rem !important;
    background-color: transparent !important;
    padding-bottom: 1rem !important;
  }

</style>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p style="color: #333;">
        © 2018 Designed and Developed by <strong> Viddesh Gharpure </strong> <br>
      </p>
    </div>
  </div>
</footer>

